/* page input box's label's size */
.ant-pagination .ant-pagination-options-quick-jumper {
  height: 48px !important;
  line-height: 48px !important;
}

/* page input box's height */
.ant-pagination .ant-pagination-options-quick-jumper input {
  height: 48px !important;
  background-color: #031008 !important;
  border-color: #313131 !important;
  color: #ffffff !important;
  font-size: 16px !important;
}

.ant-pagination {
  color: #C5C5C5 !important;
  font-size: 16px !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #031008 !important;
  border-color: #313131 !important;
  color: #C5C5C5 !important;
  font-size: 16px !important;
}

/* page display count */
.ant-select-single {
  height: 48px !important;
  line-height: 48px !important;
}

.ant-select-dropdown {
  color: #C5C5C5 !important;
  line-height: 48px !important;
  font-size: 16px !important;
  background-color: #031008 !important;
  border-color: #313131 !important;
  outline-color: #ffffff33 !important;
}

.ant-select-dropdown .ant-select-item {
  color: #ffffff !important;
}

.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: #000000 !important;
}

.ant-select-selector .ant-select-selection-search-input {
  height: 46px !important;
  padding-left: 10px !important;
  color: #ffffff !important;
}

/* pagination button */
.ant-pagination .ant-pagination-item {
  min-width: 48px !important;
  height: 48px !important;
  line-height: 48px !important;
  background-color: #031008 !important;
  border-color: #313131 !important;
}

.ant-pagination .ant-pagination-jump-next,
.ant-pagination .ant-pagination-jump-prev,
.ant-pagination .ant-pagination-next,
.ant-pagination .ant-pagination-prev {
  min-width: 48px !important;
  height: 48px !important;
  line-height: 48px !important;
  background-color: #031008 !important;
  border: 1px solid #313131 !important;
  color: #C5C5C5 !important;
}

.ant-pagination .ant-pagination-item a {
  color: #C5C5C5 !important;
}

.ant-pagination .ant-pagination-item-active a {
  color: #000000 !important;
}

.ant-pagination .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
.ant-pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
  color: #C5C5C5 !important;
}

.ant-pagination .ant-pagination-item-active {
  background-color: #F6F6F6 !important;
  border-color: #313131 !important;
}

.ant-pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon {
  color: #C5C5C5 !important;
}

.ant-pagination > li {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.ant-pagination .ant-pagination-options {
  float: right;
}

@media (max-width: 768px) {
  .ant-pagination .ant-pagination-options {
    float: left;
    margin-left: 0px;
  }
}

.ant-select .ant-select-arrow {
  color: #525866 !important;
}